.navbar {
  background-color: $very-dark-cyan;
  border-radius: 5rem;
  color: white;
  display: flex;
  font-family: $font-stack;
  justify-content: space-between;
  width: 90%;

  ul {
    list-style: none;
  }

  .left-nav {
    display: flex;
    justify-content: space-between;

    .logo {
      @include center-flex-row;
      float: left;
      font-size: 2.5rem;
      font-weight: bold;
      margin-left: 2rem;
      padding: 1rem;
      text-align: center;
    }

    .views-links {
      align-items: center;
      display: flex;
      margin-right: 30px;
      
      ul {
        align-items: center;
        display: flex;
        padding: 0;

        li {
          margin-left: 1.5rem;

          a {
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  .right-nav {
    align-items: center;
    display: flex;

    li {
      font-size: 1.5rem;
      margin-right: 2rem;
    }
  }

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: $normal-cyan;
    cursor: pointer;
  }
}
