<div id="<%= dom_id branch %>">
  <tbody>
    <tr>
      <td><%= branch.name %></td>
      <td><%= branch.address %></td>
      <td><%= link_to '<i class="fa-solid fa-pen-to-square"></i>'.html_safe, edit_branch_path(branch.id) %>
        <i class="fa-solid fa-trash-can"></i>
      </td>
    </tr>
  </tbody>

</div>
