<p style="color: green"><%= notice %></p>
<nav>
  <p></p>FOO CORP</p>
</nav>
<div class="subcontainer">
  <div class="search">
    <input type="text" placeholder="#Search">
  </div>
  <table class="table">
    <thead>
      <th>Name</th>
      <th>Address</th>
      <th></th>
    </thead> 
    <% @branches.each do |branch| %>
      <%= render branch %>
    <% end %>
  </table>
  <div class="button_cont">
    <%= button_to '+', new_branch_path, method: :get, class: 'button' %>
  </div>
</div>