<nav>
  <p>FOO CORP</p>
</nav>
<div class="sub-container">
  <div class="search">
    <input type="text" placeholder="#Search">
  </div>
  <table class="table branches-table">
    <thead>
      <th>Name</th>
      <th>Address</th>
      <th></th>
    </thead> 
    <% @branches.each do |branch| %>
      <%= render branch %>
    <% end %>
  </table>
  <div class="button-cont">
    <%= button_to '+', new_branch_path, method: :get, class: 'button' %>
  </div>
</div>
