<figure>
  <img src="https://www.pngarts.com/files/10/Default-Profile-Picture-PNG-Image-Background.png" alt="profile-picture">
</figure>

<form class="new-user" id="new_user" action="/">
  <div class="field">
    <label for="name">Name</label>
    <input type="text" name="admin[name]" id="name">
  </div>
  <div class="field">
    <label for="password">Name</label>
    <input type="password" name="admin[password]" id="password">
  </div>
  <div class="actions">
    <input type="submit" name="commit" value="Log in">
  </div>
</form>
<a href="/">Sign up</a>
<button>Back to home</button>