@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
@import '../abstracts/*';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

.primary-button {
  background-color: $primaryColor;
  border-color: $primaryColor;
  color: $very_Dark_Cyan;
  font-size: 2.5rem;
  width: auto;
  padding: 0 1.5rem;
  height: 4rem;
  border-radius: 15px;
  border-width: 2px;
}

body {
  background-color: $normal_Cyan; 
  display: grid;
  place-items: center;
  padding: 3rem;
  width: 100vw;
  height: 100vh;
  font-family: $font-stack;

  div.container {
    background-color: $very_pale_cyan;
    border-radius: 1rem;
    width: 95%;
    height: 90%;
    box-shadow: 1px 1px 10px 1px black;
    @include center-flex;
    gap: 3rem;

    header {
      .logo {
        background-color:$very_Dark_Cyan;
        width: 50rem;
        text-align: center;
        border-radius: 2rem;
        padding: 1rem;
        
        h1 {
          font-weight: 400;
          font-size: 8rem;
          color: white;
          
        }
      }
      
    }

    main {
      width: 80%;
      display: flex;
      justify-content: space-around;

      div.check {
        
        div.numeric-pad {
          width: 25rem;
          height: 30rem;
          background-color: $very_Dark_Cyan;
          display: flex;
          flex-direction: column;
          gap: 8px;
          padding: 1rem;
          border-radius: 1rem;
          
          div.screen {
            background-color: $normal_Cyan;
            border-radius: 1.3rem;
            width: 100%;
            height: auto;
            font-size: 7rem;
            color: white;
            text-align: right;
            padding-right: 0.4rem;
          }

          div.numbers-button {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            width: 100%;
            height: 100%;
            column-gap: 0.8rem;
            row-gap: 0.8rem;
            padding: 0;
            input:nth-child(10) { 
              grid-column: 2/3;
              grid-row: 4/5;
            }
            input:nth-child(11) { 
              grid-column: 3/4;
              grid-row: 4/5;
            }
            input[type=button] {
              background-color:$normal_Cyan;
              border-color: $normal_Cyan;
              border-width: 2px;
              color: white;
              box-shadow: 1px 1px 1px 1px black;
              border-radius: 1rem;
              font-size: 2rem;
              width: 100%;
              height: 100%;
            }
          }
        }

        div.checks-buttons {
          margin-top: 1rem;
          display: flex;
          justify-content: space-around;
          
        }
      }

      div.right-side {
        @include center-flex;
        div.clock {
          @include center-flex;
          gap: 2rem;
          width: 45rem;
          height: 30rem;
          background-color: $very_Dark_Cyan;
          color: white;
          text-align: center;
          font-size: 8rem;
          border-radius: 1rem;
        }

        button {
          margin-top: 1rem;
        }

      }
    }
  }
}
