@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
@import '../abstracts/*';

* {
  box-sizing: border-box;
  font-family: $font-stack;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.primary-button {
  background-color: $primaryColor;
  border-color: $primaryColor;
  border-radius: 15px;
  border-width: 2px;
  color: $very_Dark_Cyan;
  font-size: 2.5rem;
  height: 4rem;
  padding: 0 1.5rem;
  width: auto;
}

body {
  @include center-grid;
  background-color: $normal_Cyan; 
  height: 100vh;
  padding: 3rem;
  width: 100vw;

  div.container {
    @include center-flex;
    background-color: $very_pale_cyan;
    border-radius: 1rem;
    box-shadow: 1px 1px 10px 1px black;
    height: 90%;
    position: relative;
    width: 95%;

    div {
      @include center-flex;
      width: 35rem;

      figure {
        @include center-grid;
        background-color: $very_Dark_Cyan;
        border-radius: 50%;
        height: 22rem;
        width: 22rem;

        img {
          width: 70%;
        }
      }

      form {

        div {
          margin-top: 1rem;
        }

        .field {
          width: 100%;
  
          input {
            background-color: $very_Dark_Cyan;
            border-radius: 2rem;
            border: none;
            padding: 0.8rem 1.2rem;
            width: 100%;
          }
  
          input::placeholder {
            color: $primaryColor;
            font-size: 1.5rem;
          }
        }
      }

      a {
        color: $very_Dark_Cyan;
        font-size: 2rem;
        margin-top: 1rem;
        text-align: left;
        width: 100%;
      }
    }

    button {
      bottom: 1rem;
      position: absolute;
      right: 1rem;
    }
  }
}
