.sub-container {
  height: 100%;
  width: 80%;
 
  .search-row {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    .month-option {
      align-items: center;
      background-color: $very-dark-cyan;
      border-radius: 15px;
      color: white;
      display: flex;
      font-size: 18px;
      height: 2rem;
      justify-content: center;
      width: 7rem;

      select {
        background-color: $normal-cyan;
        height: 20px;
        width: 30px;
      }
    }      
  }

  .search {
    input {
      background-color: $very-dark-cyan;
      border-radius: 15px;
      height: 2.5rem;
      width: 75%;
    }

    input::placeholder { 
      color: rgb(214, 202, 202);
      padding-left: 10px;
    }
  }
    
 
  .table {
    border-spacing: 2px;
    font-size: 15px;
    margin: none;
    width: 100%;
 
    td {
      background-color: $very-dark-cyan;
      border-collapse: collapse;
      border: solid 1px black;
      color: rgb(214, 202, 202);
      max-width: 100%;
      text-align: center;
    }
 
    th {
      background-color: $very-dark-cyan;
      color: rgb(214, 202, 202);
      height: 8px;
      padding: 10px 15px;
    }
  }
}

.section {
  width: 40%;
}

.averages {
  margin-left: 0.5rem;
  width: 20%;
}

.father-table {
  display: flex;
  height: 100%;
}

.month {
  align-items: center;
  background-color: $very-dark-cyan;
  border-radius: 15px;
  color: white;
  display: flex;
  height: 40px;
  justify-content: center;
  margin-bottom: 20px;
  width: 160px;
}

.average-box {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  height: 100%;
  justify-content: baseline;
  padding-top: 1rem;
}

.average {
  align-items: center;
  background-color: $very-dark-cyan;
  border-radius: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-evenly;
  margin-bottom: 10px;
  margin-top: 1rem;
  width: 100%;
}

.total-absence {
  display: flex;
  height: 25px;
  justify-content: space-around;
  width: 66%;
  
  p {
    background-color: $very-dark-cyan;
    border-radius: 15px;
    color: white;
    font-size: 15px;
    margin-left: 100px;
    padding-left: 5px;
    width: 30%;
  }
}

.table-item {
  width: 40rem;
  
  tbody {
    height: 60vh;
    overflow: auto;
    width: 100%;

    tr:nth-child(1) {
      width: 200px;
    }
  }
}

.table-wrapper {
  position: relative;
}

.table-scroll {
  max-height: 60rem;
  overflow: auto;
}

.table-wrapper table {
  width: 100%;
}

.table-wrapper table thead tr {
  position: sticky;   
  top: 0;
  z-index: 2;
}

.submit-icon {
  width: auto;
  
  button {
    background: none;
    border: none;
  }
}
