@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

@import "sass/main";

.navbar {
  background-color: $very-dark-cyan;
  border-radius: 50px;
  clear: both;
  color: white;
  font-family: $font-stack;
  overflow: auto;

  .logo {
    align-items: center;
    float: left;
    font-size: 32px;
    font-weight: bold;
    justify-content: center;
    margin-left: 20px;
    padding: 10px;
    text-align: center;
  }

  nav {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;

    .item-left {

      li {
        margin-left: 15px;
      }
    }
  
    .item-right {
      li {
        font-size: 28px;
      }
    }
  }
  ul li {
    display: inline-block;
    font-size: 20px;
  }

  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: $normal-cyan;
    cursor: pointer;
  }
}

