@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

$primaryColor: #AEFEFF;
$very_pale_cyan: #4FBDBA;
$very_Dark_Cyan: #072227;
$normal_Cyan: #35858B;

.navbar {
  background-color: $very_Dark_Cyan;
  border-radius: 50px;
  clear: both;
  color: white;
  font-family: 'Quicksand', sans-serif;
  overflow: auto;

  .logo {
    align-items: center;
    float: left;
    font-size: 32px;
    font-weight: bold;
    justify-content: center;
    margin-left: 20px;
    padding: 10px;
    text-align: center;
  }

  nav {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;

    .item-left {

      li {
        margin-left: 15px;
      }
    }
  
    .item-right {
      li {
        font-size: 28px;
      }
    }
  }
  ul li {
    display: inline-block;
    font-size: 20px;
  }

  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: $normal_Cyan;
    cursor: pointer;
  }
}

