<tbody>
  <tr>
    <td><%= Employee.name_by_id(attendance.employee_id) %></td>
    <td><%= attendance.employee_id %></td>
    <td><%= Time.at(attendance.check_in.to_i).strftime('%d/%m/%Y - %H:%M') %></td>
    <td><%= Time.at(attendance.check_out.to_i).strftime('%d/%m/%Y - %H:%M') %></td>
  </tr>
</tbody>
