<tbody>
  <tr>
    <td><%= Employee.name_by_id(attendance.employee_id) %></td>
    <td><%= attendance.employee_id %></td>
    <td><%= attendance.check_in.localtime.strftime('%d/%m/%Y - %H:%M') %></td>
    <td><%= attendance.check_out.strftime('%d/%m/%Y - %H:%M') if attendance.check_out %></td>
  </tr>
</tbody>
