<div id="<%= dom_id attendance %>">

<tbody>
    <tr>
      <td><%= attendance.check_in %></td>
      <td><%= attendance.check_out %></td>
      <td><%= attendance.employee_id  %></td>
    </tr>
  </tbody>
</div>
