<div class="navbar">
  <div class="logo">
    FOO CORP
  </div>
  <nav>
    <nav class="item-left">
      <ul>
        <li>Employees</li>
        <li>Branches</li>
        <li>Reports</li>
      </ul>
    </nav>
    <nav class="item-right">
      <ul>
        <li>Logout</li>
      </ul>
    </nav>
  </nav>
</div>
