<nav class="navbar">
  <div class="left-nav">
    <div class="logo">
      FOO CORP
    </div>
    <div class="views-links">
      <ul>
        <li><%= link_to 'Employees', '/employees' %></li>
        <li><%= link_to 'Branches', '/branches' %></li>
        <li><%= link_to 'Reports', '/attendances' %></li>
      </ul>
    </div>
  </div>
  <div class="right-nav">
    <ul>
      <li>Logout</li>
    </ul>
  </div>
</nav>
