<div class="navbar">
  <div class="logo">
    FOO CORP
  </div>
  <nav>
    <nav class="item-left">
      <ul>
        <li><%= link_to 'Employees', '/employees' %></li>
        <li><%= link_to 'Branches', '/branches' %></li>
        <li><%= link_to 'Reports', '/attendances' %></li>
      </ul>
    </nav>
    <nav class="item-right">
      <ul>
        <li>Logout</li>
      </ul>
    </nav>
  </nav>
</div>
